.board-container{
    width: 80%;
    height: 600px;
    background-color: #121212;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 400px;
}
.value-display{
    background-color: #ada9a962;
    font-weight: bolder;

}
.btn-container{
    background-color: #121212;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    
}
.left-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 70px 70px 70px 70px 70px 70px;
    grid-gap: 10px;
    margin-top: 20px;
    margin-left: 10px;

}
.right-container{

    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: 70px 70px 70px 70px 70px 70px;
    grid-gap: 10px;
    margin-top: 20px;
    margin-left: -50px;
}

.top,.bottom{
    width:100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: -20px;
    font-size: larger;
    color: #121212ab;
}

.bottom{
    font-size: xx-large;
    color: #121212;
 
}
@media only screen and (max-width:540px){
 .board-container{
    width: 78%;
    height: 500px;
    margin-top: -80px;
  
}
.value-display{
    background-color: #ada9a962;
    font-weight: bolder;

}
.btn-container{
   
    grid-template-columns: 70% 25%;
    grid-template-rows: 100%;
    
}
.left-container{
  
    grid-template-columns: 28% 28% 28%;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
   

}
.right-container{

  
    grid-template-columns: 100%;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
 
    margin-left: 10px;
}   

.bottom{
    font-size: 14px;
}
}