.App{
 
  width: 100%;
  height: 100vh;
 overflow: hidden;
}

button{
  background-color:orange;
  color: white;
  font-size: large;
  border: none;
  cursor: pointer;
}
button:hover{
  background-color: #333;
}